PORT=9000
DATABASE_URL=postgresql://user:password@host/app_tesis?sslmode=require
OPENAI_API_KEY=tu_clave_api_openai
LINKEDIN_USERNAME=tu_usuario_linkedin
LINKEDIN_PASSWORD=tu_contraseña_linkedin
GCP_KEY=tu_clave_google_cloud
SEARCH_ENGINE_ID=tu_id_motor_busqueda
KEY_JWT=clave_secreta_jwt
FRONTEND_URL_LOCAL=http://localhost:4200
FRONTEND_URL=https://tu-frontend-url.com
EMAIL=tu_email@ejemplo.com
PASSWORD_EMAIL=tu_contraseña_email
BROWSER_CLOSE=false
LOCAL=true